In [1]:
colleagues =["sheela",'adi',"chandana","renga","Harish","subbu","Tejas"]
print(colleagues)

['sheela', 'adi', 'chandana', 'renga', 'Harish', 'subbu', 'Tejas']

In [3]:
#req: how to count elements in the list

len(colleagues)

7

In [7]:
#*** Imp interview questions
#Introduction to for loops
# loop: loop is nothing but which will be incuring under itself
print(colleagues)

['sheela', 'adi', 'chandana', 'renga', 'Harish', 'subbu', 'Tejas']

In [ ]:
# req is to appreciate the each and every one  for the project sucess at one shot

# main variable   ---> colleagues
# temperory variable --> assume collegue  ----> temporary place to store the variable
# creating the indentation -->
#

In [12]:
# simple for loop program

for colleague in colleagues: # for temporary variable
      print(colleague)  # maintaining the gap is nothing but indentation

sheela
adi
chandana
renga
Harish
subbu
Tejas

In [14]:
for abc in colleagues: # syntax :--> for tempvar(abc in main variable(colleagues))
    print(abc)    # print abc temp var

sheela
adi
chandana
renga
Harish
subbu
Tejas

In [18]:
# enhancement of the for loop with the actual loop

for abc in colleagues:
    print(f"{abc}, congratulations all for success")
print('\n Thanking all for being a part of this success')

sheela, congratulations all for success
adi, congratulations all for success
chandana, congratulations all for success
renga, congratulations all for success
Harish, congratulations all for success
subbu, congratulations all for success
Tejas, congratulations all for success

 Thanking all for being a part of this success

In [19]:
#  Making Numerical list by using for loop
# buit in method called range
# range will take start value and stop value
for value in range(1,10):
    print(value)

1
2
3
4
5
6
7
8
9

In [21]:
# int question why it is printing only upto 10
# last number is always exclusive i.e., it is not considered or printed
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [25]:
##** imp int question
#  print only even numbers from 1 to 20
even_numbers = list(range(2,20,2))  # (start, stop, step)
print (even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [26]:
#  print only even numbers from 1 to 20
odd_numbers = list(range(3,20,2))  # (start, stop, step)
print (odd_numbers)

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [27]:
# req to get minimum values from odd numbers
min(odd_numbers)

3

In [ ]:
# req to get maximum values from odd numbers

In [29]:
max(odd_numbers)

19

In [30]:
# sum of odd number
sum(odd_numbers)

99

In [38]:
# slicing of lists

students = ["kajol","ram","ramcharan","tammana","trisha"]
print(students)

['kajol', 'ram', 'ramcharan', 'tammana', 'trisha']

In [36]:
# req is to group 2 student
print(students[0:2]) # last value is always exclusive

['kajol', 'ram']

In [40]:
print(students[2:4])

['ramcharan', 'tammana']